<h1>Search for a Movie</h1>

<form action="/results" method="GET"> <!--// when click submit go to /results page-->
    <input type="text" placeholder="search term" name="search"> <!--// name appeard in query string after clicking submit-->
    <input type="submit">
</form>
